body{
    background-color: #060507;
    position: absolute;
    width: 1900px;
    height: 900px;
    left: 0px;
    top: 0px;

}
.icon{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 20px;
    top: 20px;
    z-index: 1;
}
.Gold .biggy{
    position: absolute;
    width: 3031.62px;
    height: 1705.29px;
    left: -400px;
    top: 200px;
    mix-blend-mode: luminosity;
    transform: rotate(-165deg);
    z-index: -3;
}
.stroke{
    position: absolute;
    width: 1230px;
    height: 650px;
    left: 120px;
    top: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 32px;
}
.stroke .logo{
    position: absolute;
    width: 85px;
    height: 45px;
    left: 28px;
    top: 10px;
}
.stroke .logo img{
    position: absolute;
    width: 210px;
    height: 50px;
    left: 50px;
    right: 88.03%;
    top: 10px;
    bottom: 80.35%;
    background: #FFFFFF;
}
.stroke .info{
    top: 1px;
    left: -150px;
    position: absolute;
}
.bikes{
    position: absolute;
    width: 61px;
    height: 20px;
    left: 597px;
    top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.accessories{
    position: absolute;
    width: 61px;
    height: 20px;
    left: 730px;
    top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.newtech{
    position: absolute;
    width: 108px;
    height: 20px;
    left: 948px;
    top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.explore{
    position: absolute;
    width: 96px;
    height: 20px;
    left: 1128px;
    top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.stroke img{
    position: absolute;
    width: 110px;
    height: 100px;
    left: 480px;
    top: 100px;
    background: #060507;
}
.box1{
    position: absolute;
    width: 350px;
    height: 680px;
    left: 886px;
    top: 180px;
    background: linear-gradient(90deg, #060507 0%, #060507 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 1;
}
.box1 .top{
    position: absolute;
    width: 305px;
    height: 148px;
    left: 1573px;
    top: 617px;
    z-index: 1;
}
.sped{
    position: absolute;
    width: 184px;
    height: 12px;
    left: calc(50% - 184px/2 + 698px);
    bottom: 869px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
    z-index: 1;
}
.mph{
    position: absolute;
    width: 257px;
    height: 37px;
    left: 1621px;
    top: 673px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    z-index: 1;
}
.kmh{
    position: absolute;
    width: 168px;
    height: 12px;
    left: calc(50% - 168px/2 + 690px);
    bottom: 780px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    z-index: 1;
}
.box1 .Power{
    position: absolute;
    width: 305px;
    height: 148px;
    left: 1573px;
    top: 789px;
    z-index: 1;
}
.kw{
    position: absolute;
    width: 168px;
    height: 12px;
    left: calc(50% - 168px/2 + 690px);
    bottom: 697px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    z-index: 1;
}
.hp{
    position: absolute;
    width: 257px;
    height: 37px;
    left: 1621px;
    top: 845px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    z-index: 1;
}
.p_rm{
    position: absolute;
    width: 168px;
    height: 12px;
    left: calc(50% - 168px/2 + 690px);
    bottom: 608px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    z-index: 1;
}
.pwr{position: absolute;
    left: 77.49%;
    right: 15.22%;
    top: 61.56%;
    bottom: 36.47%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #3F3E44;
    transform: rotate(-90deg);
    z-index: 1;
}
.box1 .Torque{
    position: absolute;
    width: 305px;
    height: 148px;
    left: 1573px;
    top: 961px;
    z-index: 1;
}
.t_rpm{
    position: absolute;
    width: 168px;
    height: 12px;
    left: calc(50% - 168px/2 + 690px);
    bottom: 525px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    z-index: 1;
}
.nm{
    position: absolute;
    width: 257px;
    height: 37px;
    left: 1621px;
    top: 1017px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    z-index: 1;
}
.lbf{
    position: absolute;
    width: 168px;
    height: 12px;
    left: calc(50% - 168px/2 + 690px);
    bottom: 436px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    z-index: 1;
}
.torq{
    position: absolute;
    left: 77.49%;
    right: 15.22%;
    top: 72.86%;
    bottom: 25.16%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #3F3E44;
    transform: rotate(-90deg);
    z-index: 1;
}
.box1 .Fuel{
    position: absolute;
    width: 305px;
    height: 148px;
    left: 1573px;
    top: 1133px;
    z-index: 1;
}
.gal{
    position: absolute;
    width: 168px;
    height: 12px;
    left: calc(50% - 168px/2 + 690px);
    bottom: 353px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    z-index: 1;
}
.L{
    position: absolute;
    width: 257px;
    height: 37px;
    left: 1621px;
    top: 1189px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    z-index: 1;
}
.impGAL{
    position: absolute;
    width: 168px;
    height: 12px;
    left: calc(50% - 168px/2 + 690px);
    bottom: 264px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    z-index: 1;
}
.fuelcap{
    position: absolute;
    left: 77.49%;
    right: 15.22%;
    top: 84.17%;
    bottom: 13.86%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #3F3E44;
    transform: rotate(-90deg);
    z-index: 1;
}
.stroke .info_block{
    position: absolute;
    width: 933px;
    height: 92px;
    left: 230px;
    top: 430px;
}
.stroke .info_block p{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 190px;
    top: 87px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.vektor{
    position: absolute;
    width: 1724px;
    height: 150px;
    left: 0;
    top: 380px;
    background-color: #060507;
    z-index: -1;    
}
.stroke .vektor .bla1{
    height: 100px;
    width: 500px;
    left: auto;
    top: auto;
    z-index: 1;
    position: absolute;
}
.stroke .vektor .bla2{
    height: 100px;
    width: 500px;
    left: 450px;
    top: auto;
    z-index: 1;
    position: absolute;
}
.stroke .ph1{
    position: absolute;
    width: 1032px;
    height: 700px;
    left: 144px;
    top: 363px;
}
.stroke .ph1 img{
    position: absolute;
    width: 555px;
    height: 400px;
    left: -110px;
    top: -300px;
    background-color: #060507;
    z-index: -2;
}
.stroke .ph2{
    position: absolute;
    width: 316px;
    height: 700px;
    left: 217px;
    top: 363px;
}
.stroke .ph2 .wheel{
    position: absolute;
    width: 180px;
    height: 280px;
    left: 437px;
    top: 63px;

}